### Writing to CSV

In [1]:
import pandas as pd
import numpy as np

In [2]:
dict={
    "name":["Santosh","Hari","Manoj"],
    "marks":[20,30,40]
}

In [3]:
df = pd.DataFrame(dict)

In [4]:
df

      name  marks
0  Santosh     20
1     Hari     30
2    Manoj     40

In [5]:
df.describe()

       marks
count    3.0
mean    30.0
std     10.0
min     20.0
25%     25.0
50%     30.0
75%     35.0
max     40.0

In [6]:
df.to_csv("datawithindex.csv")

In [7]:
df.to_csv("datawitoutindex.csv",index=False)

### Reading From CSV

In [8]:
data = pd.read_csv("data.csv")

In [9]:
data

                Name      Address  Age
0   Santosh Bhandari   Kanakai-07   25
1             Aditya    Birtamode   25
2            Krishna      Kanakai   26
3              Manoj    Bhadrapur   26
4                Adi   Biratnagar   20
5   Santosh Bhandari   Kanakai-08   22
6             Aditya    Birtamode   29
7            Krishna      Kanakai   26
8              Manoj    Bhadrapur   20
9                Adi   Biratnagar   25
10  Santosh Bhandari   Kanakai-09   23
11            Aditya    Birtamode   22
12           Krishna      Kanakai   26
13             Manoj    Bhadrapur   23
14               Adi   Biratnagar   23
15  Santosh Bhandari   Kanakai-10   20
16            Aditya    Birtamode   20
17           Krishna      Kanakai   25
18             Manoj    Bhadrapur   20
19               Adi   Biratnagar   22
20  Santosh Bhandari   Kanakai-11   25
21            Aditya    Birtamode   20
22           Krishna      Kanakai   29
23             Manoj    Bhadrapur   26
24               Adi   Biratnagar   20
25  Santosh Bhandari   Kanakai-12   20
26            Aditya    Birtamode   25
27           Krishna      Kanakai   29
28             Manoj    Bhadrapur   27

In [10]:
data.index

RangeIndex(start=0, stop=29, step=1)

In [11]:
data.size

87